<!DOCTYPE html>
<html>
<head>
    <title>Pendaftaran Online</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Pendaftaran Online</h1>
        </div>
        <div <div class="content">
    <div class="notification">
        <h3>Apakah anda yakin ingin menghapus anggota ini?</h3>
        <a href="" class="btn">Batal</a> <a href="" class="btn">Lanjutkan</a> 
    </div>
</div>
            </div>
        </div>
    </div>
</body>
</html>